<button
  mat-fab
  matTooltip="Filtrar datos"
  cdkOverlayOrigin
  #trigger="cdkOverlayOrigin"
  aria-label="Filtro"
  class="button-filter"
  (click)="openMenu(trigger)"
>
  <mat-icon>filter_alt</mat-icon>
</button>
<ng-template #menuTemplate>
  <div class="filters-menu" [class.open]="isMenuOpen()" [class.closed]="!isMenuOpen()">
    <div class="header" (click)="closeMenu()">
      <div class="icon" (click)="closeMenu()">
        <mat-icon>arrow_forward</mat-icon>
      </div>
      <div class="title">
        <span>Filtros</span>
      </div>
    </div>

    <mat-divider></mat-divider>

    <div class="content">
      <ng-content></ng-content>
    </div>

    <mat-divider></mat-divider>

    <div class="footer">
      <button mat-raised-button class="tienda-primary-button tienda-f-width" (click)="applyFiltersClick()">
        Aplicar filtros
      </button>
      <button
        class="tienda-secondary-button tienda-f-width"
        (click)="clearFiltersClick()"
      >
       Limpiar filtros
      </button>
    </div>
  </div>
</ng-template>
