<section class="section-container">
  <app-breadcrumbs></app-breadcrumbs>
  <div class="meeting-points-header-container">
    <div class="meeting-points-header-container-title">
      <h1 class="tienda-title">Puntos de encuentro</h1>
      <h2 class="tienda-subtitle">
        Aquí puedes ver tus puntos de encuentro para que los usuarios puedan
        encontrarte físicamente y realizar el pago de sus pedidos.
      </h2>
    </div>
    <button
      mat-raised-button
      class="tienda-primary-button"
      (click)="openMeetingPointFormDialog()"
    >
      Agregar punto de encuentro
    </button>
  </div>
  <app-meeting-points-filters (applyFilters)="applyFilters($event)"></app-meeting-points-filters>
  <app-table
    [columns]="columns"
    [data]="meetingPoints()"
    [showDelete]="true"
    [showEdit]="true"
    (detailsClick)="openMeetingPointDetailsDialog($event)"
    (deleteClick)="deleteMeetingPoint($event)"
    (editClick)="openMeetingPointFormDialog($event)"
  ></app-table>
</section>
