@let cardData = card();
<div class="card-container">
    <div class="card-header">
        @if (cardData.perfilImage) {
            <img class="card-header-image" [src]="cardData.perfilImage">
        }
        <div class="card-header-title">
            <mat-card-title class="tienda-title">{{ cardData.title }}</mat-card-title>
            @if (cardData.subtitle) {
                <mat-card-subtitle class="tienda-subtitle">{{ cardData.subtitle }}</mat-card-subtitle>
            }
        </div>
    </div>
    <div class="card-content">
        <div class="card-image-container">
            <img class="card-image" [src]="cardData.image">
        </div>
    </div>
    <div class="card-actions">
        @if (cardData.price) {
            <p class="tienda-price-text">{{ cardData.price }}</p>
        }
        <button class="tienda-primary-button" (click)="onButtonClick()">{{ buttonText() }}</button>
    </div>
</div>