@use '../../../core/theming/variables.scss' as variables;
@use '../../../core/theming/mixins.scss' as mixins;

.card-container {
  height: auto;
  padding: 10px;
  border-radius: 10px;
  background-color: #eeeeee;
  display: flex;
  flex-direction: column;
  width: 300px;
  gap: 10px;
  border: 1px solid #cccccc;
}

.card-header {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: start;
  justify-content: start;

  .card-header-title {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
}

.card-header-image {
  height: 50px;
  width: 50px;
  background-size: cover;
  object-fit: cover;
  border-radius: 100%;
}

.card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  flex: 1;
}
.card-actions {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  height: 20%;
  box-sizing: border-box;
}