@let cardData = card();
<div class="card-container">
    <div class="card-header">
        @if (cardData.perfilImage) {
            <img class="card-header-image" [src]="cardData.perfilImage">
        }
        <div class="card-header-title">
            <mat-card-title class="tienda-title">{{ cardData.title }}</mat-card-title>
            @if (cardData.subtitle) {
                <mat-card-subtitle class="tienda-subtitle">{{ cardData.subtitle }}</mat-card-subtitle>
            }
        </div>
    </div>
    <div class="card-content">
        <div class="card-image-container">
            <img class="card-image" [src]="cardData.image">
        </div>
        <div class="card-content-text">
            <p class="tienda-text" appTruncateText>{{ cardData.description }}</p>
        </div>
    </div>
    <div class="card-actions">
        @if (cardData.quantity) {
            <p class="tienda-text">Cantidad: {{ cardData.quantity }}</p>
        }
        @if (cardData.price && cardData.quantity) {
            <p class="tienda-price-text">Precio total: {{ cardData.price * cardData.quantity }}€</p>
        } @else if (cardData.price) {
            <p class="tienda-price-text">Precio: {{ cardData.price }}€</p>
        }
        <button [class]="buttonType() === 'warning' ? 'tienda-warning-button' : 'tienda-primary-button'" (click)="onClick()">{{ buttonText() }}</button>
    </div>
</div>