@use "../../../core/theming/variables.scss" as variables;

.header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 100%;
  box-sizing: border-box;
  width: 100vw;
  background-color: variables.$light-gray-color;
}

.header-logo {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 10px;
  flex: 1;
  padding: 5px;
  img {
    height: 100%;
    border-radius: 100%;
    margin-left: 10px;
  }
}
.platform-title {
  display: none;
  font-size: 1.5rem;
  font-weight: bold;
}

.header-search {
  flex: 1;
}

.header-buttons {
  display: flex;
  justify-content: end;
  align-items: center;
  flex: 1;
  padding: 10px;
  box-sizing: border-box;
}

