.meeting-point-details-dialog-container {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    padding: 20px;
    height: 90vh;
    width: 100%;
    gap: 20px;
    box-sizing: border-box;
}

.meeting-point-details-dialog-container-header {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    height: 100px;
    width: 100%;
}

.meeting-point-form-dialog-container-form {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    width: 100%;
    gap: 5px;
}
.map-container {
    box-sizing: border-box;
    width: 100%;
    height: 80%;
    display: block;
}

.meeting-point-form-dialog-container-buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}