@use '../../../core/theming/mixins.scss' as mixins;
@use '../../../core/theming/variables.scss' as variables;

.section-button {
  display: flex;
  padding: 0px 5px;
  cursor: pointer;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 80px;
  gap: 4px;
  border-radius: 10px;

  .text {
    font-size: 14px;
    text-align: center;
  }

  .icon {
    padding-top: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 100px;
    scale: 1.2;
  }

  .active-icon {
    background-color: var(--secondary-color-light-blue);
  }

  .active-text {
    font-weight: bold;
  }

  &--first-element {
    .icon {
      width: 40px;
      height: 34px;
      border-radius: 100%;
    }
  }

  @include mixins.hover-effect(variables.$light-gray-color);
}
