@let sectionTemplate = section();
<div class="section-button" [routerLink]="sectionTemplate.route"  [matMenuTriggerFor]="displayMenu() ? menu : null">
    <div class="icon" [routerLinkActive]="'active-icon'" [matBadge]="sectionTemplate.badge" matBadgePosition="above after">
      <mat-icon>{{sectionTemplate.icon}}</mat-icon>
    </div>
    <span class="text" [routerLinkActive]="'active-text'">
      {{sectionTemplate.title}}
    </span>
  </div>

  <mat-menu #menu="matMenu">
    <div class="header-buttons-menu">
      @if (!currentUser()) {
        <button class="tienda-primary-button" (click)="openMenu()">Iniciar sesión</button>
        <button class="tienda-primary-button" (click)="navigateToRegister()">Registrarse</button>
      }@else if (currentUser()) {
        <button class="tienda-primary-button" (click)="navigateToOrders()">Mis pedidos</button>
        <button class="tienda-primary-button" (click)="navigateToRegister()">Perfil</button>
        <button class="tienda-primary-button" (click)="logout()">Cerrar sesión</button>
      }
    </div>
  </mat-menu>