<div class="complete-order-form-container">
    <form [formGroup]="form">
        <mat-form-field appearance="outline">
            <mat-label>Nombre</mat-label>
            <input matInput formControlName="name" placeholder="Nombre">
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Email</mat-label>
            <input matInput formControlName="email" placeholder="Email">
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Teléfono</mat-label>
            <input matInput formControlName="phone" placeholder="Teléfono">
        </mat-form-field>
    </form>
    <button class="tienda-primary-button complete-order-button" (click)="completeOrder()">Completar pedido</button>
</div>