<div class="complete-order-form-container">
    <form [formGroup]="form">
        <mat-form-field appearance="outline">
            <mat-label>Nombre</mat-label>
            <input matInput formControlName="name">
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Email</mat-label>
            <input matInput formControlName="email">
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Teléfono</mat-label>
            <input matInput formControlName="phone">
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Dirección</mat-label>
            <input matInput formControlName="address">
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Ciudad</mat-label>
            <input matInput formControlName="city">
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Código postal</mat-label>
            <input matInput formControlName="zip">
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>País</mat-label>
            <input matInput formControlName="country">
        </mat-form-field>
    </form>
    <button class="tienda-primary-button complete-order-button" (click)="completeOrder()">Completar pedido</button>
</div>