@use '../../../core/theming/variables.scss' as variables;
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #bbb;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 50%;
  z-index: 1000;
}

.spinner {
  width: 80px;
  height: 80px;
  border: 8px solid variables.$primary-color;
  border-top: 8px solid #000;
  border-right: 8px solid transparent;
  border-bottom: 8px solid transparent;
  border-left: 8px solid transparent;
  border-radius: 50%;
  animation: spinner-rotate 1s linear infinite !important;
  will-change: transform;
  display: block;
  transform-origin: center center;
  box-sizing: border-box;
}