<section class="section-container">
  <app-breadcrumbs></app-breadcrumbs>
  <div class="product-details-container">
      <div class="product-details-image">
        <img [src]="product().image" [alt]="product().name" class="product-image" />
      </div>
    <div class="product-details-content">
      <div class="product-details-content-title">
        <span class="tienda-title">{{ product().name }}</span>
        <span class="tienda-subtitle">Vendido por: {{ product().manufacturer?.name }}</span>
      </div>
      <div class="product-details-content-description">
        <span class="tienda-text">{{ product().description }}</span>
      </div>      
      <div class="product-details-content-price">
        <span class="tienda-price-text">Precio: {{ product().price }}€</span>
        <mat-form-field appearance="outline" class="form-control">
          <mat-label>Cantidad</mat-label>
          <input matInput type="number" class="quantity-input" value="1" #quantityInput />
        </mat-form-field>
        <button class="buy-button tienda-primary-button" (click)="addProductToCart(quantityInput.value)">Agregar al carrito</button>
      </div>
    </div>
  </div>
</section>
