@use '../../../core/theming/variables.scss' as variables;

.section-container {
    height: 100%;
}

.product-details-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: space-between;
    align-items: start;
    padding: 20px;
    height: 100%;
    width: 100%;
    border-radius: 10px;
}

.product-details-image {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    img {
        height: 300px;
        object-fit: cover;
        border-radius: 10px;
    }
}

.product-details-content {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: space-between;
    align-items: start;
    width: 100%;
    height: 100%;
    padding: 20px;
    border-radius: 10px;
    background-color: whitesmoke;
}

.product-details-content-title {
    display: flex;
    flex-direction: column;
}

.product-details-content-price {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
    align-items: center;
    width: 100%;
}

@media screen and (width > 768px) {
    .product-details-container {
        flex-direction: row;
    }

    .product-details-image {
        img {
            height: 100%;
        }
    }
}