@use '../../../core/theming/variables.scss' as variables;
@use 'sass:color' as color;

.section-container {
    height: 100%;
}

.product-details-header-container {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    width: 100%;
}

.product-details-content-header {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: start;
}

.product-details-content-header-image {
    height: 50px;
    width: 50px;
    background-size: cover;
    object-fit: cover;
    border-radius: 100%;
}

.product-details-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: space-between;
    align-items: start;
    padding: 20px;
    height: 100%;
    width: 100%;
    border-radius: 10px;
}

.product-details-image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    img {
        height: 300px;
        object-fit: cover;
        border-radius: 10px;
    }
}

.product-details-content {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: start;
    align-items: start;
    width: 100%;
    height: 100%;
    padding: 20px;
    border-radius: 10px;
    background-color: color.adjust(variables.$light-gray-color, $lightness: 10%);
}

.product-details-content-title {
    display: flex;
    flex-direction: column;
}

.product-details-content-description {
    flex:1
}

.product-details-content-footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
    align-items: center;
    width: 100%;
}

.form-control{
    width: 100%;
}

@media screen and (width > 768px) {
    .product-details-container {
        flex-direction: row;
    }

    .product-details-image {
        img {
            height: 100%;
            width: 100%;
        }
    }
}