.products-header-container {
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: space-between;
    align-items: start;
    width: 100%;
}

@media screen and (width < 768px) {
    .products-header-container {
        justify-content: end;
    }
    .products-header-title {
        display: none;
    }
}