@if (dataSource && dataSource.data.length > 0) {
  <table mat-table [dataSource]="dataSource" matSort>
    @for (column of columns(); track column.field) {
    <ng-container [matColumnDef]="column.field">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        {{ column.header }}
      </th>
      <td mat-cell *matCellDef="let row" appTruncateText [maxLength]="50">
        @if (column.field === 'status') {
        <span class="status-{{ row.status }}">
          {{ getStatusLabel(row.status) }}
        </span>
        }@else { @if (column.type === 'date') {
        {{ row[column.field] | date : "dd/MM/yyyy" }}
        } @else if (column.type === 'currency') {
        {{ row[column.field] | number : "1.2-2" }}€
        } @else {
        {{ row[column.field] }}
        } }
      </td>
    </ng-container>
    }
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef aria-label="row actions">Acciones</th>
      <td mat-cell *matCellDef="let element">
        <button mat-icon-button aria-label="expand row" (click)="details(element)">
          <mat-icon>visibility</mat-icon>
        </button>
        @if (showEdit()) {
        <button mat-icon-button aria-label="edit row" (click)="editElement(element)">
          <mat-icon>edit</mat-icon>
        </button>
        }
        @if (showDelete()) {
        <button mat-icon-button aria-label="delete row" (click)="deleteElement(element)">
          <mat-icon>delete</mat-icon>
        </button>
        }
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns()"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns()"></tr>
  </table>
  <mat-paginator class="paginator" [pageSizeOptions]="[10, 25, 50, 100]"></mat-paginator>
}
