@use "./core/theming/variables.scss" as variables;

header {
  height: variables.$header-height;
  width: 100vw;
}

main {
  width: 100%;
  height: calc(100vh - variables.$header-height);
  display: flex;
  flex-direction: column;
  justify-content: start;
  box-sizing: border-box;
  overflow: auto;
}

nav {
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
  height: variables.$sidenav-mobile-height;
  background-color: variables.$light-gray-color;
}


content {
  flex: 1;
  box-sizing: border-box;
  overflow: auto;
}

@media screen and (width > 768px) {
  nav {
      height: 100%;
      width: 200px;
  }

  main {
    height: calc(100vh - variables.$header-height);
    width: 100%;
    flex-direction: row;
  }
}