.login-dialog-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    width: 400px;
    height: 400px;
}


.login-dialog-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    height: 50px;
}

.login-dialog-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;  
    flex: 1;
    width: 100%;
}              