<div class="add-product-dialog-container">
  <div class="add-product-form">
    <h1 class="tienda-title">Agregar producto</h1>
    <ng-container *ngTemplateOutlet="formTemplate; context: { form: productForm }"></ng-container>
  </div>
  <button mat-raised-button class="tienda-primary-button" (click)="saveChanges()">
    {{ isUpdateMode() ? 'Actualizar producto' : 'Agregar producto' }}
  </button>
</div>

<ng-template #imagesTemplate>
  <app-carrusel [images]="images()"></app-carrusel>
</ng-template>

<ng-template #formTemplate let-form="form">
  <div class="row">
    <mat-form-field appearance="outline" class="form-control">
      <mat-label>Nombre</mat-label>
      <input matInput type="text" [formControl]="form.controls.name" />
    </mat-form-field>
    <mat-form-field appearance="outline" class="form-control">
      <mat-label>Precio</mat-label>
      <input matInput type="number" [formControl]="form.controls.price" />
    </mat-form-field>

    <mat-form-field appearance="outline" class="form-control">
      <mat-label>Stock</mat-label>
      <input matInput type="number" [formControl]="form.controls.stock" />
    </mat-form-field>
  </div>
  <div class="row">
    <mat-form-field appearance="outline" class="form-control">
      <mat-label>Categoría</mat-label>
      <mat-select [formControl]="form.controls.category">
        <mat-option *ngFor="let category of categories()" [value]="category.uuid">{{ category.name }}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="row">
      <label class="file-input-label">
        <input type="file" accept="image/*" #imageInput (change)="onFileSelected($event)" style="display: none;" />
        <button type="button" class="tienda-primary-button" (click)="imageInput.click()">
          Seleccionar imagen
        </button>
      </label>
    <button type="button" class="tienda-warning-button" (click)="removeImages()">
      Eliminar imagenes
    </button>
  </div>
  <div class="row">
    <ng-container *ngTemplateOutlet="imagesTemplate"></ng-container>
  </div>
  <mat-form-field appearance="outline" class="textarea-control">
    <mat-label>Descripción</mat-label>
    <textarea matInput type="text" [formControl]="form.controls.description"></textarea>
  </mat-form-field>
</ng-template>