@use '../../../core/theming/variables.scss' as variables;
@use 'sass:color' as color;

.sidenav-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    width: 100%;
    gap: 10px;
}

.sidenav-item {
    height: 60%;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: variables.$primary-color;
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
    transition: all 0.3s ease;
    &:hover {
        background-color: color.adjust(variables.$primary-color, $lightness: 10%);
    }
}

@media screen and (width > 768px) {
    nav {
        height: calc(100vh - variables.$header-height);
        width: 200px;
    }

    .sidenav-container {
        flex-direction: column;
        justify-content: start;
        align-items: center;
        height: 100%;
        width: 100%;
    }

    .sidenav-item {
        width: 100%;
        height: 25px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: green;
        border-radius: 10px;
    }
}

