@use 'variables.scss' as variables;
@use 'sass:color' as color;

@mixin hover-effect($color: variables.$light-gray-color, $text-color: variables.$text-color) {
    &:hover {
        cursor: pointer;
        background-color: color.adjust($color, $lightness: -10%);
        color: $text-color;
    }
}

@mixin button($color: variables.$primary-color) {
    background-color: $color;
    color: variables.$white-color;
    border-radius: 10px;
    padding: 10px;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    border: none;
    @include hover-effect($color);
}