$header-mobile-height: 12%;
$header-desktop-height: 10%;
$sidenav-mobile-height: 15%;
$sidenav-desktop-width: 8%;

$primary-color: rgb(88, 134, 88);
$warning-color: rgb(177, 78, 78);
$accent-color: #6c757d;
$text-color: #000;
$light-gray-color: #f8f3de;
$white-color: #eeeeee;