@use '../../../core/theming/mixins.scss' as mixins;
@use '../../../core/theming/variables.scss' as variables;

.section-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: start;
    width: 100%;
    height: 100%;
}

.sections-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: start;
    align-items: start;
    width: 100%;
    height: 100%;
    padding: 20px;

    .section {
        display: flex;
        flex-direction: row;
        gap: 20px;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 120px;
        background-color: variables.$light-gray-color;
        border-radius: 10px;
        padding: 10px;

        .section-image img {
            width: 100px;
            background-color: variables.$light-gray-color;
            border-radius: 10px;
        }

        .section-content {
            flex: 1;
        }

        @include mixins.hover-effect(variables.$light-gray-color);
    }
  }
  
@media screen and (width > 768px) {
    .tienda-text {
        display: block;
    }
}