@use '../../../core/theming/variables.scss' as variables;
.manufacturers-header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  padding: 10px;
}

.manufacturers-details-container {
  display: none;
}

.manufacturers-buttons-container {
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
  gap: 10px;
  padding: 10px;
}

.map-container {
 display: block;
}

.button-toggle-group {
  display: flex;
  flex-direction: row;

  button {
    padding: 5px;

    &.active {
      background-color: variables.$primary-color;
      color: variables.$white-color;
    }
  }
}

@media screen and (width > 768px) {
  .manufacturers-list-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    padding: 10px;
  }
  .manufacturers-details-container {
    display: block;
    flex: 1;
  }
}
