.manufacturers-header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  padding: 10px;
}

.manufacturers-details-container {
  display: none;
}

.map-container {
 display: block;
}
@media screen and (width > 768px) {
  .manufacturers-list-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    padding: 10px;
  }
  .manufacturers-details-container {
    display: block;
    flex: 1;
  }
}
