<app-breadcrumbs></app-breadcrumbs>
<div class="section-container">

  <div class="manufacturers-header-container">
    <div class="manufacturers-header-title">
      <h1 class="tienda-title">Lista de artesanos</h1>
      <h2 class="tienda-subtitle">
        Encuentra los mejores vendedores de productos artesanales cerca de ti
      </h2>
    </div>
    <div class="manufacturers-buttons-container">
      <app-manufacturers-filters (applyFilters)="applyFilters($event)"></app-manufacturers-filters>
      <ng-container *ngTemplateOutlet="buttonToggleGroup"></ng-container>
    </div>
  </div>
  @if (view() === views.LIST) {
  <div class="products-list-container">
    @for (card of manufacturersCards(); track card.title) {
    <app-card
      [card]="card"
      [buttonText]="'Ver productos'"
      (succesButtonClick)="goToManufacturersDetails(card.uuid)"
    ></app-card>
    }
  </div>
  } @else {
  <app-map
    [markers]="markers()"
    [latitude]="mapLocation()?.lat ?? 0"
    [longitude]="mapLocation()?.lng ?? 0"
    [zoom]="17"
    (markerClick)="showManufacturersDetails($event)"
  ></app-map>
  }
</div>

<ng-template #buttonToggleGroup>
  <div class="button-toggle-group">
    <button mat-icon-button (click)="toggleView(views.MAP)" [class.active]="view() === views.MAP">
      <mat-icon>map</mat-icon>
    </button>
    <button mat-icon-button (click)="toggleView(views.LIST)" [class.active]="view() === views.LIST">
      <mat-icon>list</mat-icon>
    </button>
  </div>
</ng-template>
