<div class="section-container">
  <app-breadcrumbs></app-breadcrumbs>

  <div class="manufacturers-header-container">
    <div class="carrito-container-header">
      <h1 class="tienda-title">Lista de artesanos</h1>
      <h2 class="tienda-subtitle">
        Encuentra los mejores vendedores de productos artesanales cerca de ti
      </h2>
    </div>
    <ng-container *ngTemplateOutlet="buttonToggleGroup"></ng-container>
  </div>
  @if (view() === 'list') {
  <div class="products-list-container">
    @for (card of manufacturersCards(); track card.title) {
    <app-card
      [card]="card"
      [buttonText]="'Ver productos'"
      (succesButtonClick)="goToManufacturersDetails(card.uuid)"
    ></app-card>
    }
  </div>
  } @else {
  <app-map
    [markers]="manufacturersLocations()"
    (markerClick)="showManufacturersDetails($event)"
  ></app-map>
  }
</div>

<ng-template #buttonToggleGroup>
  <div class="button-toggle-group">
    <button mat-icon-button (click)="toggleView('map')" [class.active]="view() === 'map'">
      <mat-icon>map</mat-icon>
    </button>
    <button mat-icon-button (click)="toggleView('list')" [class.active]="view() === 'list'">
      <mat-icon>list</mat-icon>
    </button>
  </div>
</ng-template>
