@use "./app/core/theming/variables.scss" as variables;
@use "./app/core/theming/reset.scss" as reset;
@use "./app/core/theming/normalize.scss" as normalize;
@use "./app/core/theming/mixins.scss" as mixins;
@use "./app/core/theming/snackbar.scss" as snackbar;
@use "./app/core/theming/product-list.scss" as product-list;
@use "./app/core/theming/filters.scss";
// Supports weights 300-800
@import '@fontsource-variable/open-sans';
@import "@angular/cdk/overlay-prebuilt.css";

html,body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100vh;
  width: 100vw;
  font-family: 'Open Sans Variable', 'Open Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
  background-color: variables.$background-color;
  color: variables.$text-color;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.tienda-title {
  font-size: 24px;
  font-weight: 700;
  color: variables.$text-color;
  line-height: 1.3;
  margin: 0;
  letter-spacing: -0.5px;
}

.tienda-subtitle {
  font-size: 16px;
  font-weight: 500;
  color: variables.$text-color-secondary;
  line-height: 1.5;
  margin: 0;
}

.tienda-text {
  font-size: 14px;
  font-weight: 400;
  color: variables.$text-color;
  line-height: 1.6;
}

.tienda-price-text {
  font-size: 20px;
  font-weight: 700;
  color: variables.$primary-color;
  line-height: 1.4;
}

.section-container {
  padding: 24px;
  max-width: 100%;
  box-sizing: border-box;
}

@media screen and (max-width: 768px) {
  .section-container {
    padding: 16px;
  }
}

.tienda-primary-button {
  @include mixins.button(variables.$primary-color, variables.$primary-color-dark);
}

.tienda-secondary-button {
  @include mixins.button(variables.$surface-color);
  background-color: variables.$surface-color;
  border: 2px solid variables.$primary-color;
  color: variables.$primary-color;
  
  &:hover {
    background-color: variables.$primary-color-bg;
    border-color: variables.$primary-color-dark;
    color: variables.$primary-color-dark;
  }
}

.tienda-warning-button {
  @include mixins.button(variables.$warning-color);
}

.tienda-divider {
  width: 100%;
  margin: 10px 0;
  display: block;
}

.tienda-f-width {
  width: 100%;
}

.tienda-select-input {
  background-color: variables.$surface-color;
  z-index: 1000;
}

@keyframes spinner-rotate {
  0% { 
    transform: rotate(0deg); 
  }
  100% { 
    transform: rotate(360deg); 
  }
}