@use "./app/core/theming/variables.scss" as variables;
@use "./app/core/theming/reset.scss" as reset;
@use "./app/core/theming/normalize.scss" as normalize;
@use "./app/core/theming/mixins.scss" as mixins;
@use "./app/core/theming/snackbar.scss" as snackbar;
@use "./app/core/theming/product-list.scss" as product-list;
// Supports weights 300-800
@import '@fontsource-variable/open-sans';

html,body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100vh;
  width: 100vw;
  font-family: 'Open Sans';
}


.tienda-title {
  font-size: 20px;
  font-weight: bold;
  color: variables.$text-color;
}

.tienda-subtitle {
  font-size: 16px;
  font-weight: 500;
  color: variables.$text-color;
}

.tienda-text {
  font-size: 14px;
  font-weight: 500;
  color: variables.$text-color;
}

.tienda-price-text {
  font-size: 18px;
  font-weight: bold;
  color: variables.$text-color;
}

.section-container {
  padding: 10px;
}

.tienda-primary-button {
  @include mixins.button(variables.$primary-color);
}

.tienda-warning-button {
  @include mixins.button(variables.$warning-color);
}
