<div class="section-container">
  <app-breadcrumbs></app-breadcrumbs>
  <div class="my-products-header-container">
    <div class="my-products-header-container-title">
      <h1 class="tienda-title">Estos son tus productos</h1>
      <h2 class="tienda-subtitle">
        Aquí puedes ver los productos que has agregado a la plataforma,
        editarlos o eliminarlos.
      </h2>
    </div>
    <button
      mat-raised-button
      class="tienda-primary-button"
      (click)="openFormDialog()"
    >
      Agregar producto
    </button>
  </div>
  <div class="products-list-container">
    @for (card of cards(); track card.uuid) {
    <app-card
      [card]="card"
      [buttonText]="'Editar producto'"
      [buttonType]="'primary'"
      [buttonTemplate]="editProductButton"
    ></app-card>
    }
  </div>
</div>

<ng-template #editProductButton let-uuid="uuid">
  <div class="edit-product-buttons-container">
    <button mat-raised-button class="tienda-primary-button tienda-f-width" (click)="openFormDialog(uuid)">
      Editar
    </button>
    <button mat-raised-button class="tienda-warning-button tienda-f-width" (click)="removeProduct(uuid)">
      Eliminar
    </button>
  </div>
</ng-template>
